In [110]:
import pandas as pd
import sys
!{sys.executable} -m pip uninstall matplotlib -y
!{sys.executable} -m pip install matplotlib

Found existing installation: matplotlib 3.10.3
Uninstalling matplotlib-3.10.3:
  Successfully uninstalled matplotlib-3.10.3

WARNING: Failed to remove contents in a temporary directory 'C:\Users\SAUMYA\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages\~-tplotlib'.
You can safely remove it manually.

Defaulting to user installation because normal site-packages is not writeable
Collecting matplotlib
  Using cached matplotlib-3.10.3-cp313-cp313-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (4.58.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (2.2.0)
Requirement already satisfied: packaging>=20.0 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Using cached matplotlib-3.10.3-cp313-cp313-win_amd64.whl (8.1 MB)
Installing collected packages: matplotlib
Successfully installed matplotlib-3.10.3

In [111]:
!{sys.executable} -m pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from seaborn) (2.2.0)
Requirement already satisfied: pandas>=1.2 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from seaborn) (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.58.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)

In [112]:
import matplotlib.pyplot as plt
import seaborn as sns

In [113]:
sns.set(style='whitegrid')
plt.rcParams['figure.figsize'] = (12, 6)

In [114]:
!{sys.executable} -m pip install xlrd

df1 = pd.read_excel("../raw/yearly_consumption.xls")

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xlrd in c:\users\saumya\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.0.1)

In [115]:
df1.head()

,1.24,Pattern of Electricity Consumption (Utilities),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,(per cent)
1,Year,Domestic,Commercial,Industry,Traction,Agriculture,Others
2,1,2,3,4,5,6,7
3,1950-51,12.6,7.5,62.6,7.4,3.9,6
4,1960-61,10.7,6.1,69.4,3.3,6,4.5

In [116]:
df1.shape

(38, 7)

In [117]:
df1.isnull().sum()

1.24                                              1
Pattern of Electricity Consumption (Utilities)    2
Unnamed: 2                                        2
Unnamed: 3                                        2
Unnamed: 4                                        2
Unnamed: 5                                        2
Unnamed: 6                                        1
dtype: int64

In [118]:
print(df1.head(10))

      1.24 Pattern of Electricity Consumption (Utilities)  Unnamed: 2  \
0      NaN                                            NaN         NaN
1     Year                                       Domestic  Commercial
2        1                                              2           3
3  1950-51                                           12.6         7.5
4  1960-61                                           10.7         6.1
5  1970-71                                            8.8         5.9
6  1980-81                                           11.2         5.7
7  1981-82                                           11.6         5.8
8  1982-83                                           12.7         6.1
9  1983-84                                           12.9         6.4

  Unnamed: 3 Unnamed: 4   Unnamed: 5  Unnamed: 6
0        NaN        NaN          NaN  (per cent)
1   Industry   Traction  Agriculture      Others
2          4          5            6           7
3       62.6        7.4          3.9           6
4       69.4        3.3            6         4.5
5       67.6        3.2         10.2         4.3
6       58.4        2.7         17.6         4.4
7       58.8        2.8         16.8         4.2
8       55.4        2.8         18.6         4.4
9       55.8        2.6         17.8         4.5

In [119]:
df1 = pd.read_excel("../raw/yearly_consumption.xls", skiprows=2)
print(df1.head())
print(df1.columns)

      Year  Domestic  Commercial  Industry  Traction  Agriculture  Others
0        1       2.0         3.0       4.0       5.0          6.0     7.0
1  1950-51      12.6         7.5      62.6       7.4          3.9     6.0
2  1960-61      10.7         6.1      69.4       3.3          6.0     4.5
3  1970-71       8.8         5.9      67.6       3.2         10.2     4.3
4  1980-81      11.2         5.7      58.4       2.7         17.6     4.4
Index(['Year', 'Domestic', 'Commercial', 'Industry', 'Traction', 'Agriculture',
       'Others'],
      dtype='object')

In [120]:
df1.isnull().sum()

Year           0
Domestic       1
Commercial     1
Industry       1
Traction       1
Agriculture    1
Others         1
dtype: int64

In [121]:
df1.columns = df1.columns.str.strip()
df1_cleaned = df1.interpolate(method='linear')

C:\Users\SAUMYA\AppData\Local\Temp\ipykernel_20764\454757089.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df1_cleaned = df1.interpolate(method='linear')

In [122]:
df1_cleaned.isnull().sum()

Year           0
Domestic       0
Commercial     0
Industry       0
Traction       0
Agriculture    0
Others         0
dtype: int64

In [123]:
df1_cleaned.to_excel("../cleaned_data/yearly_consumption_cleaned.xlsx", index=False, engine="openpyxl")

In [124]:
df1_cleaned.describe()

        Domestic  Commercial   Industry   Traction  Agriculture     Others
count  36.000000   36.000000  36.000000  36.000000    36.000000  36.000000
mean   18.281667    6.911667  43.009444   2.670000    22.112778   4.986667
std     5.838889    1.661568  12.378921   0.950651     7.067173   0.848070
min     2.000000    3.000000   4.000000   2.160000     3.900000   4.000000
25%    13.900000    5.900000  36.252500   2.300000    18.975000   4.375000
50%    18.350000    6.200000  38.200000   2.400000    22.400000   4.550000
75%    24.325000    7.575000  52.400000   2.600000    27.150000   5.450000
max    25.170000   10.400000  69.400000   7.400000    31.400000   7.000000

In [125]:
df1_cleaned = pd.read_excel('../cleaned_data/yearly_consumption_cleaned.xlsx')

LINE PLOT FOR ELECTRICTY CONSUMPTION TRENDS OVER THE YEARS FOR ALL SECTORS